body {
    background: #fff;
    font: 400 100%/1.4 "Gotham Narrow A","Gotham Narrow B","Gotham Narrow","Helvetica Neue","Arial",sans-serif;
    color: #333;
}
.companyLogo:before {
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}