:root {
    --brandWarn: #cc413d;
    --brandWarnDark: #ae3236;
    --brandWarnLight: #ed584f;
    --brandWarn_s10: #faebeb;
    --brandSuccess: #009500;
    --brandSuccess_s50: #80ca80;
    --brandSuccess_s10: #e6f4e6;
}
body {
    background: #fff;
    font: 400 100%/1.4 "Gotham Narrow A","Gotham Narrow B","Gotham Narrow","Helvetica Neue","Arial",sans-serif;
    color: #333;
}
.companyLogo:before {
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}
#api .buttons button {
    background-color: var(--brandPrimary) !important;
}
.buttons #cancel {
    background-color: transparent !important;
}