.companyLogo[data-tenant-branding-logo="true"]:before {
    width: 209px;
    height: 60px;
    background-image: url('https://epicdn.blob.core.windows.net/assets-dev/whitelabel/logos/myembrace.png');
}